* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body section {
  width: 90vw;
  margin: 5vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section .slider {
  overflow: hidden;
  margin: 3vh auto;
  width: 70vw;
  height: 50vh;
  border: 3px solid black;
}

body section .slider .buttons {
  height: 50vh;
  width: 70vw;
  z-index: 30;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section .slider .buttons button {
  background-color: rgba(255, 255, 255, 0.185);
  height: 50vh;
  width: 10vw;
  border: 0;
  border-radius: 0;
  font-size: 7vw;
  color: #1ef1f1;
}

body section .slider .slider-line {
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360vw;
}

body section .slider .slider-line .slider-item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70vw;
  height: 50vh;
}
